<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <amwal_payments>
                <title>Amwal</title>
                <active>1</active>
                <order_confirmed_status>processing</order_confirmed_status>
                <merchant_mode>live</merchant_mode>
                <merchant_id></merchant_id>
                <model>AmwalPaymentMethodFacade</model>
                <group>amwal_payments_group</group>
                <prod_api_base_url><![CDATA[https://backend.sa.amwal.tech]]></prod_api_base_url>
                <test_api_base_url><![CDATA[https://qa-backend.sa.amwal.tech]]></test_api_base_url>
                <can_use_checkout>1</can_use_checkout>
                <create_user_on_order>0</create_user_on_order>
                <phone_number_format>raw</phone_number_format>
                <phone_number_trim_whitespace>0</phone_number_trim_whitespace>
                <use_base_currency>0</use_base_currency>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <regular_checkout_active>1</regular_checkout_active>
                <hide_proceed_to_checkout>1</hide_proceed_to_checkout>
                <express_checkout_active>1</express_checkout_active>
                <style_css><![CDATA[.amwal-express-checkout-button.product-detail-page,  .box-tocart .action.tocart{ width: 70%; } @media (max-width: 767px) { .amwal-express-checkout-button.product-detail-page { width: unset; } .catalog-product-view .hydrated center { text-align: right; background: #fff; position: fixed; bottom: 0; left: 0; z-index: 9999; width: 100%; } .button-text { padding-left: 0 !important; } .products-grid .product-item-actions .amwal-express-checkout-button { width: 90% !important; } } .product-item-actions .actions-primary{ width: 100%; } ]]></style_css>
                <use_system_country_settings>1</use_system_country_settings>
                <sentry_reporting>1</sentry_reporting>
                <cronjob_enable>1</cronjob_enable>
                <order_status_changed_customer_email>1</order_status_changed_customer_email>
                <order_status_changed_admin_email>1</order_status_changed_admin_email>
                <show_discount_ribbon>1</show_discount_ribbon>
                <enable_pre_checkout_trigger>1</enable_pre_checkout_trigger>
            </amwal_payments>
        </payment>
        <dev>
            <js>
                <minify_exclude>
                    <amwal_react_src_dist>/react-src/dist/</amwal_react_src_dist>
                    <amwal_react_src_node_modules>/react-src/node_modules/</amwal_react_src_node_modules>
                    <amwal_react_button>/amwal-magento-react-button/</amwal_react_button>
                </minify_exclude>
            </js>
        </dev>
    </default>
</config>
