<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AmwalPaymentMethodFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Amwal\Payments\Model\Config\Checkout\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">AmwalPaymentValueHandlerPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="commandPool" xsi:type="object">AmwalCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AmwalPaymentDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AmwalPaymentMethodConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AmwalPaymentMethodConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Amwal\Payments\Model\Config\Checkout\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AmwalPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AmwalPaymentDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AmwalCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="refund" xsi:type="string">Amwal\Payments\Model\Refund\Command</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Custom Logger for Amwal -->
    <virtualType name="AmwalLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/amwal-payments.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="AmwalLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Amwal Payments Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">AmwalLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>


    <type name="Amwal\Payments\Model\Checkout\UpdateShippingMethod">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\Checkout\CleanQuote">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\Checkout\GetQuote">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\Checkout\InvoiceOrder">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\Checkout\PlaceOrder">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\AddressResolver">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Model\Refund\Command">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>
    <type name="Amwal\Payments\Cron\PendingOrdersUpdate">
        <arguments>
            <argument name="logger" xsi:type="object">AmwalLogger</argument>
        </arguments>
    </type>

    <!-- Interface preferences -->
    <preference for="Amwal\Payments\Api\Data\AmwalOrderItemInterface" type="Amwal\Payments\Model\Data\AmwalOrderItem"/>
    <preference for="Amwal\Payments\Api\Data\AmwalAddressInterface" type="Amwal\Payments\Model\Data\AmwalAddress"/>
    <preference for="Amwal\Payments\Api\Data\AmwalButtonConfigInterface" type="Amwal\Payments\Model\Data\AmwalButtonConfig"/>
    <preference for="Amwal\Payments\Api\RefIdManagementInterface" type="Amwal\Payments\Model\RefIdManagement"/>
    <preference for="Amwal\Payments\Api\Data\RefIdDataInterface" type="Amwal\Payments\Model\Data\RefIdData"/>
    <preference for="Amwal\Payments\Api\Data\AmwalOrderInterface" type="Amwal\Payments\Model\Data\AmwalOrderDetails" />

    <preference for="Magento\CatalogWidget\Block\Product\ProductsList" type="Amwal\Payments\Block\Product\ProductsList" />

    <!-- Plugins -->
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="amwal_payments_prevent_email_on_order_submit" type="Amwal\Payments\Plugin\Sales\Order\Email\PreventEmailForNewOrder" sortOrder="10" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="amwal_order_details" type="Amwal\Payments\Plugin\Sales\Order\View\Details" sortOrder="10" />
    </type>
</config>
