<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="amwal_payments" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Amwal Payments</label>
                <fieldset_css>amwal-payments-fieldset</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/amwal_payments/active</config_path>
                </field>

                <!-- Merchant Settings -->
                <group id="amwal_payments_merchant" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Merchant Settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="merchant_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant ID</label>
                        <config_path>payment/amwal_payments/merchant_id</config_path>
                        <comment><![CDATA[Don't have a Merchant ID yet? <a href="https://merchant.sa.amwal.tech/" target="_blank">Sign up for an account here</a> to get your Merchant ID.]]></comment>
                    </field>
                    <field id="verify_merchant_id" translate="button_label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <button_label>Verify Merchant ID</button_label>
                        <frontend_model>Amwal\Payments\Block\System\Config\ValidateMerchantIdButton</frontend_model>
                    </field>
                    <field id="merchant_id_valid" type="hidden" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <config_path>payment/amwal_payments/merchant_id_valid</config_path>
                    </field>
                    <field id="merchant_mode" type="hidden" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label/>
                        <config_path>payment/amwal_payments/merchant_mode</config_path>
                    </field>
                    <field id="secret_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret Key</label>
                        <config_path>payment/amwal_payments/secret_key</config_path>
                    </field>
                </group>

                <!-- Visual Settings -->
                <group id="amwal_payments_visual" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <label>Visual Settings</label>
                    <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/amwal_payments/title</config_path>
                        <tooltip>The title of the Amwal payment method in the checkout</tooltip>
                    </field>
                    <field id="dark_mode" translate="label tooltip" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Dark Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/dark_mode</config_path>
                        <tooltip>Toggle to enable dark mode</tooltip>
                    </field>
                    <field id="style_css" translate="label tooltip" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Style CSS</label>
                        <config_path>payment/amwal_payments/style_css</config_path>
                        <tooltip>Custom style CSS to be applied to the Amwal checkout button</tooltip>
                    </field>

                    <field id="show_discount_ribbon" translate="label tooltip" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show Discount Ribbon</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/show_discount_ribbon</config_path>
                        <tooltip>Toggle to enable discount ribbon</tooltip>
                    </field>
                    <field id="regular_checkout_active" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Regular checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/regular_checkout_active</config_path>
                        <tooltip>Indicates if the Regular Checkout functionality should be enabled</tooltip>
                    </field>
                    <field id="express_checkout_active" translate="label" type="hidden" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Express checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/express_checkout_active</config_path>
                        <tooltip>Indicates if the Express Checkout functionality should be enabled</tooltip>
                    </field>
                    <field id="hide_proceed_to_checkout" translate="label" type="hidden" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Hide "Proceed to Checkout" button</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/hide_proceed_to_checkout</config_path>
                        <tooltip>If set to yes the default "Proceed to Checkout" button in the minicart will be hidden</tooltip>
                        <depends>
                            <field id="express_checkout_active">1</field>
                        </depends>
                    </field>
                </group>

                <!-- Installments Settings -->
                <group id="amwal_payments_installments" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="25">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <label>Installments Settings</label>
                    <field id="enable_bank_installments" translate="label tooltip" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Bank Installments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/enable_bank_installments</config_path>
                        <tooltip>Enable Bank Installments</tooltip>
                        <comment><![CDATA[<strong class="colorRed">Note</strong>: This feature is only available for orders with a minimum amount of 1000 SAR.]]></comment>
                    </field>
                    <field id="installment_callback" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Custom Installments Redirect URL</label>
                        <config_path>payment/amwal_payments/installment_callback</config_path>
                        <comment><![CDATA[<strong class="colorRed">Note</strong>: Make sure the URL starts with the "http" or "https" protocol.]]></comment>
                    </field>
                </group>

                <!-- Address Attribute Settings -->
                <group id="amwal_payments_address_attributes" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <label>Address Attribute Settings</label>
                    <field id="phone_number_format" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Phone number formatting</label>
                        <config_path>payment/amwal_payments/phone_number_format</config_path>
                        <tooltip>Indicate which format should be used for phone numbers</tooltip>
                        <source_model>Amwal\Payments\Model\Config\Source\PhoneNumberFormat</source_model>
                    </field>
                    <field id="phone_number_format_country" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Phone number formatting Country</label>
                        <config_path>payment/amwal_payments/phone_number_format_country</config_path>
                        <tooltip>The title of the Amwal payment method in the checkout</tooltip>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="phone_number_format">country</field>
                        </depends>
                    </field>
                    <field id="phone_number_trim_whitespace" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Trim whitespace from phone numbers?</label>
                        <config_path>payment/amwal_payments/phone_number_trim_whitespace</config_path>
                        <tooltip>Turn this on to remove any whitespace characters from phone numbers</tooltip>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>

                <!-- Order Settings -->
                <group id="amwal_payments_orders" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <label>Order Settings</label>
                    <field id="order_confirmed_status" translate="label tooltip" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order confirmed status</label>
                        <tooltip>Status given to orders after the payment has been confirmed.</tooltip>
                        <source_model>Amwal\Payments\Model\Config\Source\Status\OrderConfirmed</source_model>
                        <config_path>payment/amwal_payments/order_confirmed_status</config_path>
                    </field>
                    <field id="create_user_on_order" translate="label tooltip" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Create customer on order creation</label>
                        <tooltip>When set to YES a customer will be created if a guest user places an order using Amwal.</tooltip>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/create_user_on_order</config_path>
                    </field>
                    <field id="order_status_changed_customer_email" translate="label tooltip" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send email when order status changed to customer</label>
                        <tooltip>When set to YES an email will be sent to customer when order status changed.</tooltip>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/order_status_changed_customer_email</config_path>
                    </field>
                    <field id="order_status_changed_admin_email" translate="label tooltip" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send email when order status changed to admin</label>
                        <tooltip>When set to YES an email will be sent to admin when order status changed.</tooltip>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/order_status_changed_admin_email</config_path>
                    </field>
                </group>

                <!--Country specific settings-->
                <group id="amwal_country_specific" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                    <label>Country Specific Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="use_system_country_settings" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use System Value</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/use_system_country_settings</config_path>
                        <comment>Use system value for country specific settings</comment>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/amwal_payments/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/amwal_payments/specificcountry</config_path>
                    </field>
                    <field id="limit_regions" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Limit allowed regions</label>
                        <source_model>Magento\Directory\Model\Config\Source\Allregion</source_model>
                        <can_be_empty>1</can_be_empty>
                        <config_path>payment/amwal_payments/limit_regions</config_path>
                    </field>
                </group>

                <!-- CronJob Settings -->
                <group id="amwal_payments_cronjob" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="60">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <label>CronJob Settings</label>
                    <comment><![CDATA[
                        This Cron Job plays a crucial role in maintaining order processing efficiency.
                        It is specifically designed to periodically check and update the status of orders that are currently marked with a 'Pending Payment' status.
                        By running at regular intervals, this automated process ensures timely updates, reducing manual intervention and helping maintain accurate and up-to-date order status information in the system.
                    ]]></comment>
                    <field id="cronjob_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cron Job Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/cronjob_enable</config_path>
                    </field>
                    <field id="cron_status" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Cron Job Status</label>
                        <frontend_model>Amwal\Payments\Model\Config\Frontend\CronStatus</frontend_model>
                        <comment><![CDATA[<strong class="colorRed">Note</strong>: Cron Job Frequency 1 Hour.]]></comment>
                        <depends>
                            <field id="cronjob_enable">1</field>
                        </depends>
                    </field>
                </group>

                <!-- Developer Settings -->
                <group id="amwal_payments_developer" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>PWA Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/pwa_mode</config_path>
                        <comment>Set to Yes if your storefront is managed as a PWA.</comment>
                    </field>
                    <label>Developer Settings</label>
                    <field id="debug_mode" translate="label tooltip" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Debug mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/debug_mode</config_path>
                        <tooltip>Enable additional debug logging</tooltip>
                    </field>
                    <field id="use_base_currency" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use base currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/use_base_currency</config_path>
                        <comment><![CDATA[<strong class="colorRed">Warning</strong>: Do not set to "Yes" unless you experience problems with the total amounts in orders due to third party modules.]]></comment>
                    </field>
                    <field id="sentry_report" translate="label tooltip" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Report errors to Sentry</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/sentry_report</config_path>
                        <tooltip>Enable reporting of errors to Amwal Sentry</tooltip>
                    </field>
                    <field id="quote_override" translate="label tooltip" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Quote override</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/quote_override</config_path>
                        <tooltip>If enabled, will override certain quote data. Use only if you are having issues related to quote amounts or currencies</tooltip>
                    </field>
                    <field id="enable_pre_checkout_trigger" translate="label tooltip" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable Pre Checkout Trigger</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/enable_pre_checkout_trigger</config_path>
                        <tooltip>Enable Pre Checkout Trigger</tooltip>
                    </field>
                    <field id="plugin_version" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Plugin Version</label>
                        <frontend_model>Amwal\Payments\Model\Config\Frontend\PluginVersion</frontend_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
