<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="amwal_payments" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Amwal</label>
                <comment><![CDATA[For installation and configuration instructions, visit the <a href="https://docs.amwal.tech/docs/magento-installation" target="_blank">Amwal Magento Documentation</a>.]]></comment>
                <fieldset_css>amwal-payments-fieldset</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>

                <!-- Enable/Disable Payment Method -->
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/amwal_payments/active</config_path>
                    <comment><![CDATA[Enable or disable the Amwal payment method.]]></comment>
                </field>

                <!-- Module Type -->
                <field id="module_type" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Module Type</label>
                    <source_model>Amwal\Payments\Model\Config\Source\ModuleType</source_model>
                    <config_path>payment/amwal_payments/module_type</config_path>
                    <comment><![CDATA[Select the integration type for your store.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <!-- Version -->
                <field id="plugin_version" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Version</label>
                    <frontend_model>Amwal\Payments\Model\Config\Frontend\PluginVersion</frontend_model>
                    <comment><![CDATA[Current installed version of the Amwal module. <a href="https://github.com/amwal-tech/amwal-magento/releases" target="_blank">View releases on GitHub</a>.]]></comment>
                </field>

                <group id="amwal_payments_merchant" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="100">
                    <label>API Settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="merchant_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sandbox or Production Key</label>
                        <config_path>payment/amwal_payments/merchant_id</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[Don't have a Merchant Key? <a href="https://merchant.sa.amwal.tech/" target="_blank">Sign up here</a> to get your credentials.]]></comment>
                    </field>

                    <field id="secret_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/amwal_payments/secret_key</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[Your API secret key for secure authentication.]]></comment>
                    </field>

                    <field id="verify_merchant_id" translate="button_label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <button_label>Verify Merchant ID</button_label>
                        <frontend_model>Amwal\Payments\Block\System\Config\ValidateMerchantIdButton</frontend_model>
                    </field>

                    <field id="merchant_id_valid" type="hidden" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <config_path>payment/amwal_payments/merchant_id_valid</config_path>
                    </field>
                </group>

                <group id="amwal_payments_visual" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="200">
                    <label>Visual Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="title" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Method Title</label>
                        <config_path>payment/amwal_payments/title</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[The title displayed to customers during checkout.]]></comment>
                    </field>

                    <field id="dark_mode" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Dark Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/dark_mode</config_path>
                        <comment><![CDATA[Enable dark mode for the Amwal checkout button.]]></comment>
                    </field>

                    <field id="style_css" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom CSS Styles</label>
                        <config_path>payment/amwal_payments/style_css</config_path>
                        <comment><![CDATA[Custom CSS to be applied to the Amwal checkout button. Use with caution.]]></comment>
                    </field>

                    <field id="show_discount_ribbon" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Discount Ribbon</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/show_discount_ribbon</config_path>
                        <comment><![CDATA[Display promotional discount ribbon on the payment button.]]></comment>
                    </field>

                    <!-- Checkout Options -->
                    <field id="regular_checkout_active" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Regular Checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/regular_checkout_active</config_path>
                        <comment><![CDATA[Enable Amwal as a payment option in the standard checkout flow.]]></comment>
                    </field>

                    <field id="express_checkout_active" translate="label comment" type="hidden" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Express Checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/express_checkout_active</config_path>
                        <comment><![CDATA[Enable express checkout functionality (one-click checkout from cart).]]></comment>
                    </field>

                    <field id="hide_proceed_to_checkout" translate="label comment" type="hidden" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Hide Standard Checkout Button</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/hide_proceed_to_checkout</config_path>
                        <comment><![CDATA[Hide the default "Proceed to Checkout" button in the mini cart when express checkout is enabled.]]></comment>
                        <depends>
                            <field id="express_checkout_active">1</field>
                        </depends>
                    </field>

                    <!-- Redirect Options -->
                    <field id="regular_checkout_redirect" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Checkout Redirect</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/regular_checkout_redirect</config_path>
                        <comment><![CDATA[Automatically redirect users to Amwal checkout from the regular checkout page.]]></comment>
                    </field>

                    <field id="redirect_on_load_click" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Auto-trigger Redirect on Page Load</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/redirect_on_load_click</config_path>
                        <comment><![CDATA[Automatically trigger the redirect button on page load (use with caution).]]></comment>
                        <depends>
                            <field id="regular_checkout_redirect">1</field>
                        </depends>
                    </field>
                </group>

                <group id="amwal_payments_promotion" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="300">
                    <label>Promotion Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="discount_rule" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Discount Rule</label>
                        <source_model>Amwal\Payments\Model\Config\Source\DiscountRule</source_model>
                        <config_path>payment/amwal_payments/discount_rule</config_path>
                        <comment><![CDATA[Select the discount rule to apply for Amwal transactions.]]></comment>
                    </field>

                    <field id="cards_bin_codes" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card BIN Codes</label>
                        <config_path>payment/amwal_payments/cards_bin_codes</config_path>
                        <comment><![CDATA[Enter comma-separated BIN codes to filter eligible cards. <strong>Note:</strong> From April 2022, Visa and Mastercard issue 8-digit BIN codes.<br><strong>Example:</strong> 1234, 5678, 9012]]></comment>
                    </field>

                    <!-- Promotion Widget Display -->
                    <field id="product_promotions" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Promotions on Product Pages</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/product_promotions</config_path>
                        <comment><![CDATA[Display the promotions widget on product detail pages.]]></comment>
                    </field>

                    <field id="cart_promotions" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Promotions on Shopping Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/cart_promotions</config_path>
                        <comment><![CDATA[Display the promotions widget on the shopping cart page.]]></comment>
                    </field>

                    <field id="checkout_promotions" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Promotions on Checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/checkout_promotions</config_path>
                        <comment><![CDATA[Display the promotions widget on the checkout page.]]></comment>
                    </field>
                </group>

                <group id="amwal_payments_orders" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="400">
                    <label>Order Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="order_confirmed_status" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Order Confirmed Status</label>
                        <source_model>Amwal\Payments\Model\Config\Source\Status\OrderConfirmed</source_model>
                        <config_path>payment/amwal_payments/order_confirmed_status</config_path>
                        <comment><![CDATA[Status assigned to orders after payment is confirmed.]]></comment>
                    </field>

                    <field id="create_user_on_order" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Create Customer Account on Order</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/create_user_on_order</config_path>
                        <comment><![CDATA[Automatically create a customer account when a guest places an order using Amwal.]]></comment>
                    </field>

                    <field id="order_status_changed_customer_email" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Email Customer on Status Change</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/order_status_changed_customer_email</config_path>
                        <comment><![CDATA[Send email notification to customer when order status changes.]]></comment>
                    </field>

                    <field id="order_status_changed_admin_email" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Email Admin on Status Change</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/order_status_changed_admin_email</config_path>
                        <comment><![CDATA[Send email notification to admin when order status changes.]]></comment>
                    </field>

                    <field id="virtual_items_support" translate="label comment" type="hidden" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Virtual Items Support</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/virtual_items_support</config_path>
                    </field>
                </group>

                <group id="amwal_payments_address_attributes" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="500">
                    <label>Address Attribute Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="phone_number_format" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Phone Number Format</label>
                        <source_model>Amwal\Payments\Model\Config\Source\PhoneNumberFormat</source_model>
                        <config_path>payment/amwal_payments/phone_number_format</config_path>
                        <comment><![CDATA[Specify the format for phone number validation and display.]]></comment>
                    </field>

                    <field id="phone_number_format_country" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Phone Number Format Country</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/amwal_payments/phone_number_format_country</config_path>
                        <comment><![CDATA[Select the country for phone number formatting rules.]]></comment>
                        <depends>
                            <field id="phone_number_format">country</field>
                        </depends>
                    </field>

                    <field id="phone_number_trim_whitespace" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Trim Whitespace from Phone Numbers</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/phone_number_trim_whitespace</config_path>
                        <comment><![CDATA[Remove all whitespace characters from phone numbers before processing.]]></comment>
                    </field>
                </group>

                <group id="amwal_country_specific" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="600">
                    <label>Country Specific Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="use_system_country_settings" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use System Country Settings</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/use_system_country_settings</config_path>
                        <comment><![CDATA[Use the system's default allowed country configuration instead of custom settings.]]></comment>
                    </field>

                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/amwal_payments/allowspecific</config_path>
                        <depends>
                            <field id="use_system_country_settings">0</field>
                        </depends>
                    </field>

                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/amwal_payments/specificcountry</config_path>
                        <can_be_empty>1</can_be_empty>
                        <depends>
                            <field id="allowspecific">1</field>
                            <field id="use_system_country_settings">0</field>
                        </depends>
                    </field>

                    <field id="limit_regions" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allowed Regions</label>
                        <source_model>Magento\Directory\Model\Config\Source\Allregion</source_model>
                        <config_path>payment/amwal_payments/limit_regions</config_path>
                        <can_be_empty>1</can_be_empty>
                        <comment><![CDATA[Restrict payment availability to specific regions within allowed countries.]]></comment>
                        <depends>
                            <field id="use_system_country_settings">0</field>
                        </depends>
                    </field>
                </group>

                <group id="webhook" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="700">
                    <label>Webhook Settings</label>
                    <comment><![CDATA[Receive real-time order status updates from Amwal. Enable webhooks, then click <strong>Register Webhook</strong> to complete setup.]]></comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Webhooks</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/webhook_enabled</config_path>
                        <comment><![CDATA[Enable webhook notifications for real-time order status updates.]]></comment>
                    </field>

                    <field id="endpoint_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Webhook Endpoint URL</label>
                        <frontend_model>Amwal\Payments\Block\Adminhtml\System\Config\WebhookUrl</frontend_model>
                        <comment><![CDATA[This is your store's webhook endpoint. It is auto-generated and read-only.]]></comment>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>

                    <field id="webhook_events" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Webhook Events</label>
                        <frontend_model>Amwal\Payments\Block\Adminhtml\System\Config\WebhookEvents</frontend_model>
                        <comment><![CDATA[Select which events should trigger webhook notifications.]]></comment>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>

                    <field id="webhook_registration" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Webhook Registration</label>
                        <frontend_model>Amwal\Payments\Block\Adminhtml\System\Config\WebhookRegistration</frontend_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>

                    <field id="debug" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/webhook_debug</config_path>
                        <comment><![CDATA[Enable detailed webhook logging. <strong>Disable in production.</strong>]]></comment>
                    </field>
                </group>

                <group id="amwal_payments_cronjob" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="800">
                    <label>Cron Job Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <comment><![CDATA[Automatically checks and updates pending payment orders every hour to maintain accurate order status information.]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="cronjob_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable Cron Job</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/cronjob_enable</config_path>
                        <comment><![CDATA[Enable automatic order status synchronization via scheduled cron job.]]></comment>
                    </field>

                    <field id="cron_status" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cron Job Status</label>
                        <frontend_model>Amwal\Payments\Model\Config\Frontend\CronStatus</frontend_model>
                        <comment><![CDATA[Current status and last execution time. <strong>Frequency:</strong> Runs every hour.]]></comment>
                        <depends>
                            <field id="cronjob_enable">1</field>
                        </depends>
                    </field>
                </group>

                <group id="amwal_payments_developer" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="900">
                    <label>Developer Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <comment><![CDATA[<strong style="color: #c00;">Warning:</strong> These settings should only be modified by developers or when instructed by Amwal Support.]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>

                    <field id="pwa_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>PWA Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/pwa_mode</config_path>
                        <comment><![CDATA[Enable if your storefront uses Progressive Web App (PWA) architecture.]]></comment>
                    </field>

                    <field id="enable_pre_checkout_trigger" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Pre-Checkout Trigger</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/enable_pre_checkout_trigger</config_path>
                        <comment><![CDATA[Enable pre-checkout validation and preparation hooks for advanced integrations.]]></comment>
                    </field>

                    <field id="use_base_currency" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use Base Currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/use_base_currency</config_path>
                        <comment><![CDATA[<strong style="color: #c00;">Warning:</strong> Only enable if experiencing total amount discrepancies caused by third-party modules.]]></comment>
                    </field>

                    <field id="debug_mode" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Debug Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/debug_mode</config_path>
                        <comment><![CDATA[Enable detailed logging for troubleshooting. <strong>Disable in production.</strong>]]></comment>
                    </field>

                    <field id="sentry_report" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sentry Error Reporting</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amwal_payments/sentry_report</config_path>
                        <comment><![CDATA[Send error reports to Amwal's Sentry monitoring system for faster issue resolution.]]></comment>
                    </field>

                    <field id="api_url" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API URL</label>
                        <config_path>payment/amwal_payments/api_url</config_path>
                        <validate>validate-url</validate>
                        <comment><![CDATA[<strong>Advanced:</strong> Custom API endpoint. Only modify if instructed by Amwal Support.]]></comment>
                    </field>

                    <field id="pay_url" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment URL</label>
                        <config_path>payment/amwal_payments/pay_url</config_path>
                        <validate>validate-url</validate>
                        <comment><![CDATA[<strong>Advanced:</strong> Custom payment endpoint. Only modify if instructed by Amwal Support.]]></comment>
                    </field>
                </group>
            </group>

            <group id="amwal_payments_apple_pay" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Amwal Apple Pay</label>
                <fieldset_css>amwal-payments-fieldset</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/amwal_payments/apple_pay_active</config_path>
                    <comment>Apple Pay is only available on Safari browser</comment>
                </field>
            </group>
            <group id="amwal_payments_bank_installments" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Amwal Bank Installments</label>
                <fieldset_css>amwal-payments-fieldset</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/amwal_payments/bank_installments_active</config_path>
                </field>
                <field id="timeline_style" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timeline Style</label>
                    <source_model>Amwal\Payments\Model\Config\Source\TimelineStyle</source_model>
                    <config_path>payment/amwal_payments/bank_installments_timeline_style</config_path>
                    <comment>Choose the style of the timeline for bank installments.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="footer_message" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Message</label>
                    <config_path>payment/amwal_payments/bank_installments_footer_message</config_path>
                    <comment>Custom message to be displayed in the footer of the bank installments section.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
