@media (max-width: 767px) {
    .catalog-product-view .hydrated center {
        text-align:right;
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        width: 50%;
    }
    .catalog-product-view .hydrated center ion-button {
        margin-bottom: 10px;
        margin-left: 5px;
        width: 96% !important;
        border-radius: 0px!important;
        height: 50px!important;
    }
    .box-tocart .actions {
        position:fixed;
        bottom: 0;
        width: 50%;
        background: #fff;
        margin: 0 auto;
        text-align: center;
        right: 0;
        z-index: 9999;
        padding: 0px;
    }
    .box-tocart .action.tocart:not(:last-child){
        margin-bottom: 8px!important;
    }
}
