<?php
return [
    'language'                     => 'en_US',
    'timezone'                     => 'Asia/Riyadh',
    'currency'                     => 'SAR',
    'db-host'                      => 'mysql',
    'db-name'                      => 'magento2',
    'db-user'                      => 'root',
    'db-password'                  => 'root',
    'backend-frontname'            => 'admin',
    'base-url'                     => 'http://magento2.test/',
    'use-secure'                   => '0',
    'use-rewrites'                 => '1',
    'admin-lastname'               => 'John',
    'admin-firstname'              => 'Doe',
    'admin-email'                  => 'johndoe@example.com',
    'admin-user'                   => 'johndoe',
    'admin-password'               => 'johndoe!1234',
    'admin-use-security-key'       => '0',
    'sales-order-increment-prefix' => time(),
    'session-save'                 => 'db',
    'cleanup-database'             => true,
    'search-engine'                => 'elasticsearch7',
    'elasticsearch-host'           => 'es',
    'elasticsearch-port'           => 9200,
    'cleanup-database'             => false,
];
