parameters:
  level: 1
  paths:
    - ../
  excludePaths:
    - ../vendor/
  ignoreErrors:
    - '#Property\s+.+#'
    - '#Parameter\s+.+#'
    - '#Access to an undefined property\s+.+#'
  type_coverage:
    return_type: 50
    param_type: 30
    property_type: 70
