parameters:
  level: 1
  paths:
    - ../Model
    - ../Plugin
    - ../Cron
    - ../Block
    - ../Api
    - ../ViewModel
    - ../Test
  excludePaths:
    - ../vendor/
  ignoreErrors:
    - '#Property\s+.+#'
    - '#Parameter\s+.+#'
    - '#Access to an undefined property\s+.+#'
