<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Amwal_Payments">
            <directory suffix="Test.php">../Test/Unit</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist>
            <directory suffix=".php">app/code/</directory>
            <exclude>
                <directory suffix=".php">app/code/*/*/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_STRICT"/>
        <env name="MAGE_MODE" value="developer"/>
    </php>
</phpunit>
